* {
    font-family: "Verdana";
}
header {
    background-image: url(images/elpsy.jpg);
    position: relative;
    width: 100%;
    min-height: auto;
    text-align: center;
    color: #fff;
    background-position: center;
    background-size: cover;
}